{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>Series - {{ data.name }}</title>
    <meta name="description" content={{ data.description }}>

    <meta property="og:title" content="{{ data.name }}">
    <meta property="og:description" content="{{ data.description }}">
    <meta property="og:image" content="{{ data.cover_image }}">
    <meta property="og:url" content="{% url 'series' data.id %}">
    <meta name="twitter:card" content="summary">

    <meta property="og:site_name" content="iakesi">
    <meta name="twitter:image:alt" content="{{ data.name }}">
{% endblock title_block %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-series.css' %}">
{% endblock css_block %}

{% block main_block %}
    <section id="section-info">
        <img class="cover-image" src="{{ data.cover_image }}" alt="{{ data.name }}" loading="lazy">
        <div class="info-description">
            <h2>{{ data.name }}</h2>
            <p>{{ data.description }}</p>
        </div>
    </section>

    <section id="section-locations">
        <h3>Locations</h3>
        <ul>
        {% for location in data.locations %}
            <li class="item-location">
                <h4><a href="{% url 'location' location.location.id %}">{{ location.location.name }}</a></h4>
                <ul class="list-image">
                {% for image in location.location.location_images %}
                    <li class="item-image">
                        <img src="{{ image.location_image }}" alt="{{ location.location.name }}" data-remarks="{{ image.remarks }}" loading="lazy">    
                    </li>
                {% endfor %}
                </ul>
                <br>
                <ul class="list-image">
                {% for image in location.series_location_images %}
                    <li class="item-image">
                        <img src="{{ image.series_location_image }}" alt="{{ location.location.name }}" data-remarks="{{ image.remarks }}" loading="lazy">
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
        <div id="modal-container">
            <span id="modal-close">&times;</span>
            <img id="modal-image" loading="lazy">
            <div id="modal-caption"></div>
        </div>
    </section>
{% endblock main_block %}

{% block js_block %}
    <script src="{% static 'js/script-series.js' %}"></script>
{% endblock js_block %}