{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>Series</title>
    <meta name="description" content="iakesi helps mapping anime real life anime locations to assist your next anime pilgrimage. Explore the locations in Japan, England, Singapore, and many more.">

    <meta property="og:title" content="iakesi - Series List">
    <meta property="og:description" content="iakesi helps mapping anime real life anime locations to assist your next anime pilgrimage. Explore the locations in Japan, England, Singapore, and many more.">
    <meta property="og:image" content="{% static 'res/logo.png' %}">
    <meta property="og:url" content="{% url 'series-list' %}">
    <meta name="twitter:card" content="summary">

    <meta property="og:site_name" content="iakesi">
    <meta name="twitter:image:alt" content="iakesi logo">
{% endblock title_block %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-series.css' %}">
{% endblock css_block %}

{% block main_block %}
    <h2>Series List</h2>

    <section id="section-toc">
        <ul>
        {% for letter, series_list in data.items %}
            <a href="#letter-{{ letter }}"><li>{{ letter }}</li></a>
        {% endfor %}
        </ul>
    </section>

    <section id="section-series-list">
    {% for letter, series_list in data.items %}
        <h3 id="letter-{{ letter }}">{{ letter }}</h3>
        <ul>
        {% for series in series_list %}
            <a href="{% url 'series' series.id series.slug %}"><li>{{ series.name }}</li></a>
        {% endfor %}
        </ul>
    {% endfor %}
    </section>
{% endblock main_block %}