{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>Location - {{ data.name }}</title>
    <meta name="description" content={{ data.remarks }}>
    <meta property="og:title" content="{{ data.name }}">
    <meta property="og:description" content="{{ data.remarks }}">
    <meta property="og:image" content="{{ data.location_images.0.location_image }}">
    <meta property="og:url" content="{% url 'location' data.id data.slug %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="iakesi">
    <meta name="twitter:image:alt" content="{{ data.name }}">
{% endblock title_block %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-location.css' %}">
{% endblock css_block %}

{% block main_block %}
    <div class="banner-container">
        <img class="banner-image" src="{{ data.location_images.0.location_image }}" alt="{{ data.name }} " loading="lazy">
    </div>

    <section class="info-description">
        <h2>{{ data.name }}</h2>
        {% if data.alt_name %}
            <p class="info-altname">{{ data.alt_name }}</p>
        {% endif %}
        <p>{{ data.country }}, {{ data.prefecture }}, {{ data.city }}</p>
        <p>{{ data.remarks }}</p>
        {% if data.source %}
            <p>(Source: {{ data.source }})</p>
        {% endif %}
    </section>

    <section>
        <h3>Location</h3>
        <iframe
        id="location-map"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?key={{ apikey }}&q={{ data.latitude }},{{ data.longitude }}&zoom=15">
        </iframe>
    </section>

    <section id="section-gallery">
        <h3>Gallery</h3>
        <ul>
        {% for image in data.location_images %}
            <li>
                <img src="{{ image.location_image }}" alt="{{ data.name }}" data-remarks="{{ image.remarks }}" loading="lazy">
            </li>
        {% endfor %}
        </ul>
        <div id="modal-container">
            <span id="modal-close">&times;</span>
            <img id="modal-image" loading="lazy">
            <div id="modal-caption"></div>
        </div>
    </section>
    
    <section id="section-series">
        <h3>Appears In</h3>
        <ul>
        {% for series in data.series %}
            <li>
                <a href="{% url 'series' series.series.id series.series.slug %}">
                    <img src="{{ series.series.cover_image }}" alt="{{ series.series.name }}" loading="lazy">
                    <div class="overlay-background">
                        <div class="overlay-text">{{ series.series.name }}</div>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock main_block %}

{% block js_block %}
    <script src="{% static 'js/script-location.js' %}"></script>
{% endblock js_block %}