html {
    --color-feather: #77C9D4;
    --color-marine: #57BC90;
    --color-forest: #015249;
    --color-sleek-grey: #EFEFEF;
}

header {
    margin-top: 10vh;
}

/* Popular locations */


.location-container {
    padding: 2vw;
    background-color: var(--color-marine);
    background-image: linear-gradient(to right, var(--color-feather), var(--color-marine));
    border-radius: 1vw;
}

.location-container figure {
    display: flex;
    color: white;
    justify-items: start;
    padding: 0;
    margin: 0;
}

#highlight-image {
    width: 100%;
    height: auto;
    border-radius: 1vw;
}

.location-container figcaption {
    width: 100%;
    padding: 0;
    margin-left: 2vw;
    overflow: hidden;
}

.location-container figcaption p {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#section-locations ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    margin-right: -3vw;
}

#section-locations li {
    list-style-type: none;
    margin-top: 1vh;
    margin-right: 1vw;
    justify-self: start;
    max-width: 15%;
    position: relative;
}

#section-locations li img {
    width: 100%;
    height: auto;
    border: 1px solid var(--color-forest);
    border-radius: 1vw;
    cursor: pointer;
    display: block;
}

#section-locations li .overlay-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 98%;
    width: 100%;
    border-radius: 1vw;
    border: 1px solid var(--color-forest);
    overflow: hidden;
    opacity: 0.8;
    background-color: var(--color-marine);
    visibility: hidden;
}

#highlight-remarks {
    white-space: pre-line;
}

@media only screen and (max-width: 1023px) {
    header {
        margin-top: 0;
    }

    .location-container {
        padding: 4vw;
    }

    .location-container figure {
        flex-direction: column;
    }

    .location-container figcaption {
        margin-left: 0;
    }

    #section-locations ul {
        margin-right: -3vw;
    }

    #section-locations li {
        max-width: 30%;
        margin-right: 2vw;
    }
}