html {
    --color-feather: #77C9D4;
    --color-marine: #57BC90;
    --color-forest: #015249;
    --color-sleek-grey: #EFEFEF;
}

body {
    overflow-x: hidden;
}

header {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: white;
    z-index: 1;
    margin: 0;
    box-shadow: 0 0.2vh 0.2vh var(--color-sleek-grey);
}

.header-fixed .app-logo {
    margin-left: 10vw;
}

.header-fixed nav {
    margin-right: 10vw;
}

.banner-image {
    width: 100%;
    border-radius: 1vw;
}

section {
    margin-top: 10vh;
}

/* Popular series */

#section-series ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: -1vw;
}

#section-series li {
    list-style-type: none;
    margin-right: 1vw;
    justify-self: start;
    max-width: 15%;
    position: relative;
}

#section-series li img {
    width: 100%;
    height: auto;
    border: 1px solid var(--color-forest);
    border-radius: 1vw;
    cursor: pointer;
    display: block;
}

#section-series li .overlay-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-left: 1px solid var(--color-forest);
    border-right: 1px solid var(--color-forest);
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease;
    background-color: var(--color-feather);
}

#section-series li:hover .overlay-background {
    height: 30%;
    opacity: 0.8;
    overflow: hidden;
    border-bottom: 1px solid var(--color-forest);
}

#section-series li .overlay-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.8rem;
}

/* Popular locations */


.location-container {
    padding: 2vw;
    background-color: var(--color-marine);
    background-image: linear-gradient(to right, var(--color-feather), var(--color-marine));
    border-radius: 1vw;
}

.location-container figure {
    display: flex;
    color: white;
    justify-items: start;
    padding: 0;
    margin: 0;
}

#highlight-image {
    width: 100%;
    height: auto;
    border-radius: 1vw;
}

.location-container figcaption {
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin-left: 2vw;
}

#section-locations ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 2vw;
    margin-right: -1vw;
}

#section-locations li {
    list-style-type: none;
    margin-right: 1vw;
    justify-self: start;
    max-width: 15%;
    position: relative;
}

#section-locations li img {
    width: 100%;
    height: auto;
    border: 1px solid var(--color-forest);
    border-radius: 1vw;
    cursor: pointer;
    display: block;
}

#section-locations li .overlay-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 98%;
    width: 100%;
    border-radius: 1vw;
    border: 1px solid var(--color-forest);
    overflow: hidden;
    opacity: 0.8;
    background-color: var(--color-feather);
    visibility: hidden;
}



