@font-face {
    font-family: 'Source Sans Pro';
    src: url(../res/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../res/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

html {
    --color-lime: #CEF1AB;
    --color-aqua: #20E3E5;
    --color-deep-aqua: #2D6566;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

header .app-logo {
    margin: 0;
    margin-right: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li {
    display: flex;
    list-style-type: none;
}

nav li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: auto;
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: 0.3s;
    border-bottom: 1px solid white;
}

nav li a:hover {
    color: var(--color-deep-aqua);
    border-bottom: 1px solid var(--color-deep-aqua);
}

main {
    margin: 2vh 10vw;
}

footer {
    background-color: black;
    width: 100%;
    padding: 2vh 10vw;
    color: white;
}