@font-face {
    font-family: 'Source Sans Pro';
    src: url(../res/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../res/SourceSansPro-Bold.ttf);
    font-weight: bold;
}

html {
    --color-feather: #77C9D4;
    --color-marine: #57BC90;
    --color-forest: #015249;
    --color-sleek-grey: #EFEFEF;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    margin-top: 10vh;
}

main {
    margin: 2vh 10vw;
    flex: 1 0 auto;
}

/* Header */

header {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
}

header .app-logo {
    margin: 0;
    margin-right: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.app-logo img {
    width: 5vw;
    height: auto;
    display: flex;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li {
    display: flex;
    list-style-type: none;
}

nav li a {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: auto;
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: 0.3s;
    border-bottom: 1px solid white;
}

nav li a:hover {
    color: var(--color-feather);
    border-bottom: 1px solid var(--color-feather);
}

.nav-selected a {
    color: var(--color-marine);
    border-bottom: 1px solid var(--color-marine);
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: white;
    z-index: 1;
    margin: 0;
    box-shadow: 0 0.2vh 0.2vh var(--color-sleek-grey);
}

.header-fixed .app-logo {
    margin-left: 10vw;
}

.header-fixed nav {
    margin-right: 10vw;
}

/* Banner Image */

.banner-image {
    width: 100%;
    border-radius: 1vw;
}

/* Footer */

footer {
    box-sizing: border-box;
    background-color: var(--color-sleek-grey);
    width: 100%;
    margin-top: 20vh;
    padding: 2vh 10vw;
    color: black;
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    color: var(--color-forest);
}

/* Map */

#location-map {
    width: 100%;
    height: 75vh;
    border: 0;
    border-radius: 1vw;
}

/* Modal Image */

#modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-image {
    margin: auto;
    display: block;
    width: 100%;
}

#modal-caption {
    margin: auto;
    display: block;
    max-width: 100%;
    text-align: center;
    color: white;
    margin-top: 2vh;
}

#modal-image, #modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from { 
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#modal-close {
    position: absolute;
    top: 3vh;
    right: 3vw;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    transition: 0.3s;
}

#modal-close:hover, #modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    #modal-image {
        width: 700px;
    }
}

/* Section Series */

#section-series ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: -3vw;
}

#section-series li {
    list-style-type: none;
    margin-right: 1vw;
    margin-top: 1vh;
    justify-self: start;
    max-width: 15%;
    position: relative;
}

#section-series li img {
    width: 100%;
    height: auto;
    border: 1px solid var(--color-forest);
    border-radius: 1vw;
    cursor: pointer;
    display: block;
}

#section-series li .overlay-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-left: 1px solid var(--color-forest);
    border-right: 1px solid var(--color-forest);
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease;
    background-color: var(--color-marine);
}

#section-series li:hover .overlay-background {
    height: 30%;
    opacity: 0.8;
    overflow: hidden;
    border-bottom: 1px solid var(--color-forest);
}

#section-series li .overlay-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.8rem;
}

@media only screen and (max-width: 1023px) {
    .app-logo img {
        width: 20vw;
    }

    main {
        margin-top: 22vw;
    }

    section {
        margin-top: 5vh;
    }

    #section-series ul {
        margin-right: -4vw;
    }

    #section-series li {
        max-width: 30%;
        margin-right: 2vw;
    }

    #section-series li .overlay-background {
        height: 30%;
        opacity: 0.8;
        overflow: hidden;
        border-bottom: 1px solid var(--color-forest);
    }
}