section {
    margin-top: 5vh;
}

/* Info */

#section-info {
    display: flex;
    color: white;
    background-color: var(--color-marine);
    background-image: linear-gradient(to right, var(--color-feather), var(--color-marine));
    border-radius: 1vw;
}

.cover-image {
    width: 50%;
    border-radius: 1vw;
    border: 1px solid var(--color-forest);
}

.info-description {
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.info-description p {
    white-space: pre-line;
}

.info-altname {
    margin-top: -20px;
}

/* Locations */

h4 a {
    color: var(--color-forest);
    text-decoration: none;
    transition: 0.3s;
}

h4 a:hover {
    color: var(--color-feather);
}

#section-locations ul {
    padding: 0;
    margin: 0;
    margin-left: 2vw;
}

#section-locations .list-image {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: -1vw;
}

#section-locations .item-image {
    list-style-type: none;
    margin-right: 1vw;
    margin-top: 1vh;
    justify-self: start;
    max-width: 23%;
}

#section-locations .item-image img {
    width: 100%;
    height: auto;
    border: 1px solid var(--color-forest);
    border-radius: 1vw;
    cursor: pointer;
    display: block;
}

/* TOC */

#section-toc ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#section-toc a {
    text-decoration: none;
    color: var(--color-forest);
}

#section-toc li {
    padding: 2vh;
    border: 1px solid var(--color-feather);
    border-radius: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    transition: 0.3s;
    text-align: center;
    width: 2vw;
}

#section-toc li:hover {
    background-color: var(--color-feather);
}


/* Series list */

#section-series-list a {
    text-decoration: none;
    color: var(--color-forest);
}

#section-series-list li {
    padding: 1vh;
    transition: 0.3s;
    border-bottom: 1px solid white;
}

#section-series-list li:hover {
    border-bottom: 1px solid var(--color-feather);
    color: var(--color-feather);
}

@media only screen and (max-width: 767px) {
    #section-info { 
        flex-direction: column;
        background-color: white;
        background-image: none;
    }

    .cover-image {
        width: 100%;
    }

    .info-description {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        color: white;
        background-color: var(--color-marine);
        background-image: linear-gradient(to right, var(--color-feather), var(--color-marine));
        border-radius: 1vw;
        padding: 2vh 4vw;
        margin-top: 5vh;
    }

    #section-locations .item-image {
        list-style-type: none;
        margin-right: 2vw;
        margin-top: 1vh;
        justify-self: start;
        max-width: 45%;
    }
}

@media only screen and (min-width: 768px) {
    #section-toc li {
        padding: 1vh;
    }

    #section-series-list ul {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }

    #section-series-list li {
        list-style-position: inside;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}