{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>iakesi</title>
    <meta name="description" content="iakesi helps mapping anime real life anime locations to assist your next anime pilgrimage. Explore the locations in Japan, England, Singapore, and many more.">

    <meta property="og:title" content="iakesi">
    <meta property="og:description" content="iakesi helps mapping anime real life anime locations to assist your next anime pilgrimage. Explore the locations in Japan, England, Singapore, and many more.">
    <meta property="og:image" content="{% static 'res/logo.png' %}">
    <meta property="og:url" content="{% url 'index' %}">
    <meta name="twitter:card" content="summary">

    <meta property="og:site_name" content="iakesi">
    <meta name="twitter:image:alt" content="iakesi logo">
{% endblock title_block %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-index.css' %}">
{% endblock css_block %}

{% block main_block %}
    <div class="banner-container">
        <img class="banner-image" src="{% static 'res/banner.jpg' %}" alt="iakesi" loading="lazy">
        <div class="banner-info">
            <img class="banner-logo" src="{% static 'res/logo-line.svg' %}" alt="iakesi" loading="lazy">
            <div class="banner-text">Mapping real life anime locations to assist your next anime pilgrimage</div>
            <a href="{% url 'location-list' %}"><button type="button" class="banner-button">Explore Locations</button></a>
        </div>
    </div>

    <section id="section-series">
        <h2>Popular Series</h2>
        <ul>
        {% for series in popular_series %}
            <li>
                <a href="{% url 'series' series.id series.slug %}">
                    <img src="{{ series.cover_image }}" alt="{{ series.name }}" loading="lazy">
                    <div class="overlay-background">
                        <div class="overlay-text">{{ series.name }}</div>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section id="section-locations">
        <h2>Popular Locations</h2>
        <div class="location-container">
            <figure>
                <a id="highlight-url" href="{% url 'location' popular_locations.0.id popular_locations.0.slug %}"><img id="highlight-image" src="{{ popular_locations.0.location_images.0.location_image }}" alt="{{ popular_locations.0.name }}" loading="lazy"></a>
                <figcaption>
                    <h3 id="highlight-name">{{ popular_locations.0.name }}</h3>
                    <p id="highlight-altname">
                        {% if popular_locations.0.alt_name %}
                            {{ popular_locations.0.alt_name }}
                        {% endif %}
                    </p>
                    <p id="highlight-remarks">{{ popular_locations.0.remarks }}</p>
                </figcaption>
            </figure>

            <ul id="highlight-list">
            {% for location in popular_locations %}
                <li>
                    <img src="{{ location.location_images.0.location_image }}" alt="{{ location.name }}" data-altname="{{ location.alt_name }}" data-remarks="{{ location.remarks }}" data-url="{% url 'location' location.id location.slug %}" loading="lazy">
                    <div class="overlay-background"></div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
{% endblock main_block %}

{% block js_block %}
    <script src="{% static 'js/script-index.js' %}"></script>
{% endblock js_block %}