{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>iakesi - About</title>
    <meta property="og:title" content="iakesi - About">
    <meta property="og:url" content="{% url 'about' %}">
{% endblock title_block %}

{% block main_block %}
    <h1>About iakesi</h1>
    <p>iakesi exists with the purpose to map real life anime locations to assist your next anime pilgrimage. The goal is to have every location ever shown in anime properly is mapped and archived in iakesi.</p>
    <p>If you would like to help improve the database, please head to <a href="{% url 'submission' %}">Submission</a> to see how you can help.</p>
    <p>iakesi's source code is available on <a href="https://github.com/zend10/iakesi" rel="noopener" target="_blank">GitHub</a>, if you're interested.</p>
{% endblock main_block %}