{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>iakesi - Contact</title>
{% endblock title_block %}

{% block main_block %}
    <h1>Contact</h1>
    <p>If you have any questions, suggestions, error reports, or bug reports, you can find me at:</p>
    <ul>
        <li><a href="mailto:iakesi@protonmail.com">iakesi@protonmail.com</a></li>
        <li><a href="https://github.com/zend10/iakesi/issues" rel="noopener" target="_blank">GitHub Issues</a></li>
    </ul>
    <p>You're also allowed to just say hi.</p>
{% endblock main_block %}