{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>iakesi - Contact</title>
    <meta name="description" content="iakesi helps mapping anime real life anime locations to assist your next anime pilgrimage. Explore the locations in Japan, England, Singapore, and many more.">

    <meta property="og:title" content="iakesi - Contact">
    <meta property="og:description" content="iakesi helps mapping anime real life anime locations to assist your next anime pilgrimage. Explore the locations in Japan, England, Singapore, and many more.">
    <meta property="og:image" content="{% static 'res/logo.png' %}">
    <meta property="og:url" content="{% url 'contact' %}">
    <meta name="twitter:card" content="summary">

    <meta property="og:site_name" content="iakesi">
    <meta name="twitter:image:alt" content="iakesi logo">
{% endblock title_block %}

{% block main_block %}
    <h1>Contact</h1>
    <p>If you have any questions, suggestions, error reports, or bug reports, you can find me at:</p>
    <ul>
        <li><a href="mailto:iakesi@protonmail.com">iakesi@protonmail.com</a></li>
        <li><a href="https://github.com/zend10/iakesi/issues" rel="noopener" target="_blank">GitHub Issues</a></li>
    </ul>
    <p>You're also allowed to just say hi.</p>
{% endblock main_block %}