{% extends 'base/base.html' %}

{% load static %}

{% block title_block %}
    <title>iakesi - Submission</title>
{% endblock title_block %}

{% block main_block %}
    <h1>Submission</h1>
    <p>If you want to help improving iakesi's database, you can help submit with any information you have.</p>
    <h2>What to Submit?</h2>
    <p>The information you can submit are as follow:</p>
    <ul>
        <li>Better location description</li>
        <li>Better location photo</li>
        <li>Better screenshot from anime</li>
        <li>Whole new entry</li>
    </ul>
    <p>If you're submitting a whole new entry, please make sure to provide these:</p>
    <ul>
        <li>Location name</li>
        <li>Location address (country, prefecture/province/state, city/town)</li>
        <li>Location description</li>
        <li>Location image</li>
        <li>Location latitude and longitude</li>
        <li>The series the location appears in</li>
        <li>The location screenshot from the said series</li>
    </ul>
    <h2>Where to Submit?</h2>
    <p>As there is no proper functionality to make a submission, as of now, please submit by sending email to: <a href="mailto:iakesi@protonmail.com">iakesi@protonmail.com</a></p>
    <h2>Credits</h2>
    <p>If approved, the description, photo, and screenshot you submitted will be properly credited.</p>
{% endblock main_block %}